    <%-include('includes/header')%>
    <h2>
        Editar vaga:
        <a href="/admin/vagas">Vagas</a>
    </h2>
    <div>
        <form method="POST">
            <label>Titulo:</label>
            <input type="text" name="title" value="<%=role.name%>">
            <label>Descrição:</label>
            <textarea name="description"><%=role.description%></textarea>
            <select name="category">">
                <% categories.map(category => {%>
                        <option value="<%=category.id%>"<%if(category.id===role.category_id){%>selected<% }%>  ><%=category.name%></option>
                <%})%>
            </select>
            <button type="sumit">Enviar</button>
        </form>
    </div>
    <%-include('includes/footer')%>